NEXT_PUBLIC_HOST_URL=http://localhost:4137
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_S3_ENDPOINT=https://nos.jkt-1.neo.id
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_GA_ID=

DATOCMS_API_URL=https://graphql.datocms.com
DATOCMS_API_TOKEN=bf9f70e94cb2cd9d462011b9d12d93
